# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.obj
*.exe
*.dll
*.log
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Build results
bin/
obj/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/        